body {
    background-image: url(../background_morocco/morocco.png);
    margin: 0px;
    position: relative
}
.top {
    background-color: white;
    height: 80px;
    border-bottom: 5px solid gray;
    position: relative;  
    width: 100%;
    display: inline-block;
    margin: auto;
}
nav {
    margin-right: 55px;
    position: absolute;
    bottom: 5px;
    right: 79px;
}
.about {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 2px solid gray;
    width: 60px;
    height: 30px;
    vertical-align: middle;
}
.portfolio {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 2px solid gray;
    width: 69px;
    height: 30px;
    vertical-align: middle;
}
.contact {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 62px;
    height: 30px;
    vertical-align: middle;
}
.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
    position: absolute;
    top: 7px;
    left: 10%;
    display: inline;
    background-color: rgb(175,219,229);
    padding: 5px;
}
.picofme {
    float: left;
    padding: 0px 20px 10px 0px;
}
.aboutcontent {
    width: 960px;
    background-color: white;
    position:relative;
    padding: 20px;
    margin: auto;
    color: darkslategray;
}
.aboutmehead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(175,219,229);
    border-bottom: solid 2px gray
}
.aboutmecontent {
    font-family: Arial, Helvetica, sans-serif;
}
.portfoliocontent {
    width: 960px;
    background-color: white;
    position:relative;
    padding: 20px;
    margin: auto;
}
.portfoliohead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(175,219,229);
    border-bottom: solid 2px gray
}
.portfolio1container {
    height: 400px;
    width: 400px;
    display: inline-block;
    background-image: url('../images/portfolio1img.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
    margin: 15px;
}
.portfolio2container {
    height: 400px;
    width: 400px;
    display: inline-block;
    background-image: url('../images/portfolio2img.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
    margin: 15px;
}
.portfolio3container {
    height: 400px;
    width: 400px;
    display: inline-block;
    background-image: url('../images/portfolio3img.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
    margin: 15px;
}
.portfolio4container {
    height: 400px;
    width: 400px;
    display: inline-block;
    background-image: url('../images/portfolio4img.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
    margin: 15px;
}
.portfolio5container {
    height: 400px;
    width: 400px;
    display: inline-block;
    background-image: url('../images/portfolio5img.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
    margin: 15px;
}
.portfolio1text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(175,219,229);
    width: 100%;
    top: 250px;
    height: 30px;
    text-align: center;
    position: relative;
    padding: 10px 0px 0px;
}
.portfolio2text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(175,219,229);
    width: 100%;
    top: 250px;
    height: 30px;
    text-align: center;
    position: relative;
    padding: 10px 0px 0px;
}
.portfolio3text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(175,219,229);
    width: 100%;
    top: 250px;
    height: 30px;
    text-align: center;
    position: relative;
    padding: 10px 0px 0px;
}
.portfolio4text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(175,219,229);
    width: 100%;
    top: 250px;
    height: 30px;
    text-align: center;
    position: relative;
    padding: 10px 0px 0px;
}
.portfolio5text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(175,219,229);
    width: 100%;
    top: 250px;
    height: 30px;
    text-align: center;
    position: relative;
    padding: 10px 0px 0px;
}
