body {
    background-image: url(../background_morocco/morocco.png);
    margin: 0px;
}
.content {
    width: 960px;
    background-color: white;
    left: 10%;
    top:131px;
    position: absolute;
    padding: 20px;
}
.top {
    background-color: white;
    padding: 0px;
    border-bottom: 5px solid gray;
    height: 10%;    
}
.name {
    font-family: serif;
    font-size: 35px;
    position: absolute;
    left: 10%;
}
.about {
    position: relative;
    
}
.portfolio {
    position: relative;
}
.contact {
    position: relative;
}